<footer class="site-footer">

  <div class="wrapper fadein">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <table class="contact-list">
          <tr>
              <td class="column1">lurk:</td>
              <td><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></td>
          </tr>
          <tr>
              <td class="column1">don't lurk:</td>
              <td><a href="mailto:{{ site.email }}">{{ site.email }}</a></td>
          </tr>
          <tr>
              <td class="column1">share:</td>
              <td><a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA</a></td>
          </tr>
        </table>

      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.linkedin_username %}
          <li>
            {% include icon-linkedin.html username=site.linkedin_username %}
          </li>
          {% endif %}
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
